@model IEnumerable<RentAShow.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@{
    if (!Model.Any())
    {
        <p>There is no Customer records available </p>
    }
    else
    {

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>Membership Type</th>
                </tr>
            </thead>
            @foreach (var customer in Model)
            {
        <tr>
            <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
            @*--Start Section 3 | Exercise 1- Add membership type to list of customers.*@
            <td>@customer.MemberShipType.Name</td>
            @*--End*@
        </tr>
            }
        </table>
    }
}
