@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@{
    if (!Model.Any())
    {
         <p>There is no Customer records available </p>
    }
    else
    {
       
    <table class="table table-bordered table-hover">
            @foreach (var customer in Model)
            {
            <tr><td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id=customer.Id},null)</td></tr>
            }
        </table>
    }
}
